.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.rightContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
